<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitterClone | HomePage</title>
</head>
<body>
    <h1>Welcome to Twitter {{request.user.displayname}}</h1>
    <span style="border: 2px solid black; padding: 10px;">make a new tweet <a href="/tweet/">here</a></span>
    <span style="border: 2px solid black; padding: 10px;">view your profile <a href="/profile/">here</a></span>
    <br>
    <h2 style="margin-top: 40px;">The Global Twitter Feed</h2>
    <p>this is a global feed where you can find new twitter users</p>
    <br>
    <ul>
        {% for tweet in tweets %}
        <li style="border: 2px solid black; width: 22%;">
            {{tweet.text}}
            <br>
            <p>posted by: <a href="/user/{{tweet.author.id}}/">{{tweet.author}}</a>
            at: <a href="/tweet/{{tweet.id}}/">{{tweet.date}}</a></p>
        </li>
        {% endfor %}
    </ul>
    <span>
        Logout <a href="/logout/">here</a>
    </span>
</body>
</html>