<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitterClone | MyProfile</title>
</head>
<body>
    <h2>
        hows it hanging {{request.user}}
    </h2>
    <span>you are following {{request.user.follower.count}}</span>
    <br>
    <span>you have {{followers}} followers</span>
    <ul>
        <h3>your twitter feed</h3>
        <p>this are your tweets and your followers tweets</p>
        {% for tweet in tweets %}
            {% if tweet.author in request.user.follower.all or tweet.author == request.user %}
            <li style="border: 2px solid black; width: 22%;">
                <p>
                    {{tweet.text}}
                </p>
                <p>
                posted by: <a href="/user/{{tweet.author.id}}/">{{tweet.author}}</a>
                at: <a href="/tweet/{{tweet.id}}/">{{tweet.date}}</a>
                </p>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <span>go <a href="/">home</a></span>
</body>
</html>