<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitterClone | MyProfile</title>
</head>
<body>
    <h2>
        hows it hanging {{request.user}}
    </h2>
    <span>you are following {{request.user.follower.count}}</span>
    <br>
    <span>you have {{followers}} followers</span>
    {{request.user.follower}}
    <ul>
        <h3>your tweets</h3>
        {% for tweet in tweets %}
            <li>{{tweet.text}}</li>
        {% endfor %}
    </ul>
    <span>go <a href="/">home</a></span>
</body>
</html>