<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwitterClone | {{user.displayname}}</title>
</head>
<body>
    <h2>this is {{user.displayname}}'s page</h2>
    <span>@<a>{{user.username}}</a></span>
    <br>
    <span>{{user}} has {{followers}} followers</span>
    <br>
    <span>{{user}} is following {{user.follower.count}}</span>
    <br>
    {% if request.user.displayname == user.displayname %}
        <span>this is your public profile view</span>

    {% elif user in request.user.follower.all %}
        <span>unfollow <button><a href="/unfollow/{{user.id}}/">{{user.displayname}}</a></button></span>

    {% else %}
        <span>follow <button><a href="/follow/{{user.id}}/">{{user.displayname}}</a></button></span>
    {% endif %}
    <br>
    <span>go <a href="/">home</a></span>
    <br>
    <ul>
        <h3>{{user}}'s twitter feed</h3>
        {% for tweet in tweets %}
            {% if tweet.author in user.follower.all or tweet.author == user %}

            <li style="border: 2px solid black; width: 22%;">
                <p>
                    {{tweet.text}}
                </p>
                <p>
                posted by: <a href="/user/{{tweet.author.id}}/">{{tweet.author}}</a>
                at: <a href="/tweet/{{tweet.id}}/">{{tweet.date}}</a>
                </p>
            </li>

            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>